@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-background
  }
}

@layer base {
  :root {
    --background: 253, 253, 253;
    /* fdfdfd */
    --background-hover: 244, 244, 245;
    /* f4f4f5 zinc-100 */
    --background-active: 240, 240, 241;

    --foreground: 0, 0, 0;

    --primary: ;
    --primary-foreground: 34, 34, 34;
    /* 222 */

    --secondary: ;
    --secondary-foreground: 161, 161, 170;
    /* a1a1aa zinc-400 */

    --tertiary: 255, 255, 255;
    /* fff */
    --tertiary-foreground: 34, 34, 34;
    /* 222 */

    --border: 219, 215, 216;
    /* DBD7D8 */
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 16, 16, 16;
      /* 101010 */
      --background-hover: 22, 22, 22;
      --background-active: 24, 24, 24;

      --foreground: 237, 237, 237;

      --primary: ;
      --primary-foreground: 190, 194, 200;
      /* BEC2C8 */

      --secondary: ;
      --secondary-foreground: 123, 123, 123;
      /* 7B7B7B */

      --tertiary: 34, 34, 34;
      /* 222 */
      --tertiary-foreground: 190, 194, 200;
      /* BEC2C8 */

      --border: 34, 34, 34;
      /* 222 */
    }
  }
}

::-moz-selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

* {
  -webkit-font-smoothing: antialiased;
}

input {
  @apply accent-white/10;
}

/*
button {
  @apply outline-none focus:outline-none leading-none transition-all active:scale-95;
}
*/

.hover-bg {
  @apply hover:bg-background-hover active:bg-background-active;
}

.hover-text {
  @apply hover:text-primary-foreground active:text-foreground;
}

/*
* OLD HOVER BG BY JOAORCESCHINI
.hover-bg {
  @apply relative;
  @apply hover:after:scale-100 hover:after:opacity-100;
  @apply active:scale-95 active:after:scale-100 active:after:opacity-100;

  z-index: 1;
}

.hover-bg::after {
  content: "";
  z-index: -1;

  @apply absolute bottom-0 left-0;
  @apply h-full w-full rounded-lg;
  @apply origin-center scale-90 opacity-0 transition-all;

  @apply bg-background-hover;
}
/*

/* 
* OLD HOVER BG
.hover-bg {
  @apply relative focus:outline-none;
  @apply hover:after:scale-100 hover:after:opacity-100 focus:after:scale-100 focus:after:opacity-100;
  @apply active:scale-95 active:after:scale-100 active:after:opacity-100;

  z-index: 1;
}

.hover-bg::after {
  content: "";
  z-index: -1;

  @apply absolute bottom-0 left-0;
  @apply h-full w-full rounded-lg;
  @apply origin-center scale-90 opacity-0 transition-all;

  @apply border border-white/5 bg-white/5 shadow-lg backdrop-blur-lg;
}

.hover-bg.hover-bg-dark {
  @apply after:bg-zinc-900;
}

*/

.tiptap.ProseMirror {
  @apply focus:outline-none text-zinc-300;

  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base font-semibold;
  }

  h5 {
    @apply text-sm font-semibold;
  }

  h6 {
    @apply text-xs font-semibold;
  }

  a {
    @apply underline cursor-pointer;
  }

  p {
    @apply text-sm;
  }

  pre {
    @apply bg-zinc-900 rounded-lg py-3 px-5 text-sm;
  }

  p>code {
    @apply bg-zinc-900 text-sm px-1 py-0.5 rounded-md;
  }

  ul {
    @apply list-disc ml-4;
  }

  ul[data-type="taskList"] {
    @apply list-none ml-0 space-y-1 text-lg;

    &>li {
      @apply flex items-center;

      &>label {
        @apply mr-1;

        &>span {
          @apply flex bg-zinc-700 rounded-md size-5;
        }

        &>input {
          @apply hidden;
        }

        &>input:checked~span {
          background-image: url("/icons/check.svg");
          background-size: calc(100% - 5px) calc(100% - 5px);
          @apply bg-center bg-no-repeat;
        }
      }
    }
  }

  ol {
    @apply list-decimal ml-4;
  }

  blockquote {
    @apply border-l-4 border-zinc-700 pl-3;
  }

  hr {
    @apply border-zinc-700 my-3;
  }
}

:root {
  --fc-small-font-size: 13px;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #2b2b2f;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #2c3e50;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: #3f3f46;
  --fc-now-indicator-color: red;
}

.fc {
  @apply text-zinc-300 h-full;
}

.fc table {
  border: none !important;
}

.fc-toolbar-chunk button {
  @apply capitalize;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  @apply w-1 rounded-sm;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-sm;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}

[data-theme="slash-command"] {
  width: 1000vw;
}
