.tiptap.ProseMirror {
  @apply focus:outline-none;

  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base font-semibold;
  }

  h5 {
    @apply text-sm font-semibold;
  }

  h6 {
    @apply text-xs font-semibold;
  }

  a {
    @apply underline cursor-pointer;
  }

  p {
    @apply text-inherit;
  }

  pre {
    @apply bg-zinc-900 rounded-lg py-3 px-5 text-sm;
  }

  p>code {
    @apply bg-zinc-900 text-sm px-1 py-0.5 rounded-md;
  }

  ul {
    @apply list-disc ml-4;
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li[data-checked="true"] {
      @apply line-through text-zinc-500;
    }

    li {
      display: flex;
      align-items: center;
      /* Add some padding for spacing between list items */

      >label {
        @apply flex items-center mr-2 mt-2;
      }

      >div {
        @apply flex-grow;
        margin-top: 0.3em;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  ol {
    @apply list-decimal ml-4;
  }

  blockquote {
    @apply border-l-4 border-zinc-700 pl-3;
  }

  hr {
    @apply border-zinc-700 my-3;
  }

  .tiptap.is-editor-empty {
    @apply cursor-default;
    caret-color: transparent;
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    @apply text-secondary-foreground;
  }

  [data-type="taskList"] input[type="checkbox"] {
    @apply cursor-pointer appearance-none w-4 h-4 border-2 border-primary-foreground rounded inline-flex items-center justify-center;
  }

  [data-type="taskList"] input[type="checkbox"]:checked {
    @apply bg-[#272727] border-[#272727] rounded-sm;
  }

  [data-type="taskList"] input[type="checkbox"]:checked::after {
    content: '';
    display: inline-block;
    width: 5px;
    /* increase height for the vertical part of the checkmark */
    height: 9px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: -1px;
    /* adjust the vertical alignment */
    left: 0.5px;
    /* adjust the horizontal alignment */
  }
}
