.tiptap.ProseMirror {
  @apply focus:outline-none;

  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base font-semibold;
  }

  h5 {
    @apply text-sm font-semibold;
  }

  h6 {
    @apply text-xs font-semibold;
  }

  a {
    @apply underline cursor-pointer;
  }

  p {
    @apply text-inherit;
  }

  pre {
    @apply bg-zinc-900 rounded-lg py-3 px-5 text-sm;
  }

  p>code {
    @apply bg-zinc-900 text-sm px-1 py-0.5 rounded-md;
  }

  ul {
    @apply list-disc ml-4;
  }

  ul[data-type="taskList"] {
    @apply list-none mr-10 space-y-1 text-lg;

    li[data-checked="true"] {
      @apply line-through text-zinc-500;
    }

    &>li {
      @apply flex items-start;

      &>label {
        @apply flex items-center mr-2;

        &>span {
          @apply flex-shrink-0 bg-zinc-700 rounded-md;
          width: 1.25em;
          height: 1.25em;
          margin-top: 0.50em;
        }

        &>input {
          @apply hidden;
        }

        &>input:checked~span {
          background-image: url("/icons/check.svg");
          background-size: calc(100% - 5px) calc(100% - 5px);
          @apply bg-center bg-no-repeat;
        }
      }

      &>div {
        @apply flex-grow;
        margin-top: 0.30em;
      }
    }
  }

  ol {
    @apply list-decimal ml-4;
  }

  blockquote {
    @apply border-l-4 border-zinc-700 pl-3;
  }

  hr {
    @apply border-zinc-700 my-3;
  }

  .tiptap.is-editor-empty {
    @apply cursor-default;
    caret-color: transparent;
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    @apply text-secondary-foreground;
  }
}
